@tailwind base;
@tailwind components;
@tailwind utilities;

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.nav-active {
    transform: translateX(0%);
}

.transition-nav {
    transition: transform 0.5s ease-in;
}

.nav-links li a {
    transition: 0.25s ease-in;
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.social-links {
    line-height: 40px;
    transition: all 0.5s ease;
}

.footer-links {
    transition: all 0.3s ease;
}

button {
    transition: all 0.3s ease;
}

.underline-color {
    text-decoration-color: #3e995c;
}

.bq-translate {
    transition: all 0.3s ease;
}

